header#cabecera
{
    background-color: rgba(240, 186, 9, 0.842);
    height: 30vh;
    width: 100vw;
    margin-top: -8px;
    margin-left: -8px;
    align-items: center;
}

div#navegacion
{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
h1#nav
{
    width: 25vw;
    margin-top: 6vh;
    text-align: center;
}

a#enlace
{
    text-decoration: none;
    color: black;
}

div#contenedor
{
    width: 800px;
    position: absolute;
    top: 32vh;
    left: 30vw;

}

.carrusel
{
    width: 100%;
    position: absolute;
    animation: rotar 60s infinite linear;
    transform-style: preserve-3d;
}
.carrusel:hover
{
    animation-play-state: paused;
    cursor: pointer;
}
.carrusel figure
{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
}
/*translateZ es para aumentar el radio entre las imagenes*/
.carrusel figure:nth-child(1){transform: rotateY(90deg) translateZ(600px);}
.carrusel figure:nth-child(2){transform: rotateY(180deg) translateZ(600px);}
.carrusel figure:nth-child(3){transform: rotateY(270deg) translateZ(600px);}
.carrusel figure:nth-child(4){transform: rotateY(360deg) translateZ(600px);}

.carrusel img
{
    width: 100%;
    transition: all 350ms;
}

.carrusel img:hover
{
    -webkit-transform: scale(1.05);
}

@keyframes rotar
{
    from
    {
        transform: rotateY(0deg);
    }
    to
    {
        transform: rotateY(360deg);
    }
}
    
