/* Inicio */

html
{
    scroll-behavior: smooth;
}

body
{
    background: url("imagenes/wheat.png");
}

header#cabecera
{
    background-color: rgb(240, 186, 9);
    height: 30vh;
    width: 100vw;
    align-items: center;
    
}

div#navegacion
{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
h1#nav
{
    width: 25vw;
    margin-top: 5vh;
    text-align: center;
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

a#enlace
{
    text-decoration: none;
    color: black;
}

div#contenedor
{
    width: 800px;
    position: absolute;
    top: 32vh;
    left: 30vw;

}

div#carrusel
{
    width: 100%;
    position: absolute;
    animation: rotar 60s infinite linear;
    transform-style: preserve-3d;
}
div#carrusel:hover
{
    animation-play-state: paused;
    cursor: pointer;
}
div#carrusel figure
{
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
}
/*translateZ es para aumentar el radio entre las imagenes*/
div#carrusel figure:nth-child(1){transform: rotateY(90deg) translateZ(600px);}
div#carrusel figure:nth-child(2){transform: rotateY(180deg) translateZ(600px);}
div#carrusel figure:nth-child(3){transform: rotateY(270deg) translateZ(600px);}
div#carrusel figure:nth-child(4){transform: rotateY(360deg) translateZ(600px);}

div#carrusel img
{
    width: 100%;
    transition: all 350ms;
}

div#carrusel img:hover
{
    -webkit-transform: scale(1.05);
}

@keyframes rotar
{
    from
    {
        transform: rotateY(0deg);
    }
    to
    {
        transform: rotateY(360deg);
    }
}



div#identidad
{
    background-color: rgb(240, 186, 9);
    height: 90px;
    width: 100vw;
    margin-top: 47vh;
    display: flex;
    align-items: center;
    
}

div#contenedorIdentidad
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-right: 20vw;
}

h1#identidadText
{
    width: 100vw;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

h2#identidadText1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    color: beige;
}

h4#identidadText2
{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    color: beige;
}

div#contendorTextoIdentidad
{
    margin-left: 14vw;
}

div#contenedorImagenIdentidad
{
    width: 600px;
    height: 400px;
    margin-left: 50px;
}

div#promos
{
    background-color: rgb(240, 186, 9);
    height: 90px;
    width: 100vw;
    /*margin-top: 37vh;*/
    margin-top: 2vh;
    display: flex;
    align-items: center;

}

h1#promosText
{
    width: 100vw;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

div#contenedorTarjetas
{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 22vw;
    margin-top: 50px;
    margin-bottom: -570px;
    
}

div#contenedorTarjetas div#promoTarjeta
{
    width: 330px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    background-color: beige;
    
}

div#contenedorTarjetas div#promoTarjeta:hover
{
    transform: translateY(-15px);
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.25s;
    
}

div#contenedorTarjetas div#promoTarjeta img
{
    width: 330px;
    height: 220px;
}


div#contenedorTarjetas div#promoTarjeta h4
{
    font-weight: 600;
}

div#contenedorTarjetas div#promoTarjeta p
{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

div#volver
{
    margin-top: 52vh;
    margin-left: 48vw;
    margin-bottom: -48vh;
}

div#volver h4
{
    color: beige;
}

div#divisorFooter
{
    background-color: rgb(240, 186, 9);
    width: 100vw;
    height: 10px;
    margin-top: 50vh;
}
  
footer#piePagina
{
    display: flex;
    flex-direction: column;
    background: url("imagenes/hexabump.png");
    height: 200px;
}
  
div#Primersec
{
    margin: auto;
    display: flex;
    flex-direction: row;
}
  
div#Segundasec
{
    background-color: rgb(0, 1, 39);
}
  
div#iconos
{
    display: flex;
    flex-direction: row;
}
  
h3#footer
{
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

/* Menu */

div#contenedorTarjetasMenu
{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 22vw;
    margin-top: 50px;
    margin-bottom: -570px;
    
}

div#contenedorTarjetasMenu div#menuTarjeta
{
    width: 330px;
    height: 310px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    background-color: beige;
}

div#contenedorTarjetasMenu div#menuTarjeta:hover
{
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.25s;
    -webkit-transform: scale(0.9);
}

div#contenedorTarjetasMenu div#menuTarjeta img
{
    width: 330px;
    height: 220px;
}


div#contenedorTarjetasMenu div#menuTarjeta h4
{
    font-weight: 600;
}

div#contenedorTarjetasMenu div#menuTarjeta p
{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

div#menuP1
{

}

div#menuP2
{
    margin-top: 50vh;
}

/*Tarjetas de Platillos*/

div#contenedorTarjetasPlatillos
{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 22vw;
    margin-top: 50px;
    margin-bottom: -500px;
    
}

div#contenedorTarjetasPlatillos div#platillosTarjeta
{
    width: 330px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    background-color: beige;
}

div#contenedorTarjetasPlatillos div#platillosTarjeta:hover
{
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.25s;
    -webkit-transform: scale(0.9);
}

div#contenedorTarjetasPlatillos div#platillosTarjeta img
{
    width: 330px;
    height: 220px;
}


div#contenedorTarjetasPlatillos div#platillosTarjeta h4
{
    font-weight: 600;
}

div#contenedorTarjetasPlatillos div#platillosTarjeta p
{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

/* Entradas */

div#platillosP1
{

}

div#platillosP2
{
    margin-top: 650px;
}

div#platillosP3
{
    margin-top: 650px;
}

/* Platillos */

div#platillosHeader
{
    display: flex;
    align-items: center;
    background-color: rgb(240, 186, 9);
    width: 100vw;
    height: 10vh;
}

h1#platillosHeaderText
{
    width: 100vw;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

div#galeria
{
    margin-bottom: -500px;
}

div#galeriaP
{
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    margin-left: 27vw;
}

div#galeriaP img
{
    width: 250px;
    height: 250px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}

div#galeriaP img:hover
{
    transition: all 0.25s;
    -webkit-transform: scale(1.1);
}

/* Alambres */

/* Tacos */

/* Bebidas */

/* Postres */
